odoo-addon-brand @ git+https://github.com/OCA/brand.git@refs/pull/217/head#subdirectory=brand
odoo-addon-account-brand @ git+https://github.com/OCA/brand.git@refs/pull/219/head#subdirectory=account_brand
